:root {
    --blue: #5847eb;
    --work: #ff8c66; //work
    --play: #56c2e6; //play
    --study: #ff5c7c; //sutdy
    --exercise: #4acf81; //exercise
    --social: #7536d3; //social
    --self-care: #f1c65b; //self care
    //neutral
    --very-dark-blue: #0f1424;
    --dark-blue: #1c1f4a;
    --dark-blue-hover: #34397B;
    --desaturated-blue: #6f76c8;
    --pale-blue: #bdc1ff;
}